


@mixin BPGB{
  font-family: 'BPGBannerExtraSquareCaps';
  font-weight: 400;
}

@mixin Basic{
  font-family: 'Basicav.2012';
  font-weight: 400;
}

@mixin f400{
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

@mixin f700{
  font-family: 'Play', sans-serif;
  font-weight: 700;
}